.tooltip {
    background: #e3e3e3;
    border: 1px solid #BFBFBF;
    float: left;
    font-size: 12px;
    max-width: 160px;
    padding: 1em 1em 1em 3em;
    position: absolute;
}

.tt-rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}