#todo-list {
	text-align:left;
	/*background-color:#e5eecc;*/
	/*border:solid 1px #c3c3c3;*/
	display:none;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.todo-description {
	display: inline;
	margin-left: 10px;
	font-size: 20px;
}

.todo-item {
	padding: 8px;
	border-top: solid 1px #eeeeee;
	border-bottom: solid 1px #eeeeee;
}

#todo-input-container {
	text-align: center;
}

#todo-input {
	width:300px;
	font-size: 20px;
	padding: 10px;
}

.todo-remove {
	background: url(http://wiki.corda.com/confluence/download/attachments/3802839/dash_remove_icon.png) no-repeat;
	float:right;
	width:20px;
	height: 20px;
}

#todo-check-all {
	margin-left: 12px;
}

.todo-button {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.center-buttons {
	width: 200px;
	margin-left: auto;
    margin-right: auto;
}

#todo-control {
	border: solid 1px #eeeeee;
	margin: 8px 16px 8px 16px;
	padding: 6px 8px 6px 8px;

	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#todo-app-container {
    background: #ffffff;
    font-size: 18px;
    
    width: 400px;
    padding: 12px;
    margin-top: 30px;
    position:absolute;
    left:50%;
    margin-left: -212px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: 0 5px 1px 1px #cccccc;
    box-shadow: 0 5px 5px 1px #cccccc;
}

/**
good icons:
http://png-1.findicons.com/files/icons/2358/boolean/16/done_square.png
http://wiki.corda.com/confluence/download/attachments/3802839/dash_remove_icon.png
*/