#todo-list {
	text-align:left;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
	display:none;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.todo-description {
	display: inline;
	font-size: 20px;
}

.todo-item {
	padding: 10px
}

#todo-input-container {
	text-align: center;
}

#todo-input {
	width:350px;
	font-size: 20px;
	padding: 6px
}

.remove {
	background: url(http://wiki.corda.com/confluence/download/attachments/3802839/dash_remove_icon.png) no-repeat;
	float:right;
	width:20px;
	height: 20px;
}

#todo-check-all {
	margin-left: 12px;
}

/**
good icons:
http://png-1.findicons.com/files/icons/2358/boolean/16/done_square.png
http://wiki.corda.com/confluence/download/attachments/3802839/dash_remove_icon.png
*/