#todo-list {
	text-align:left;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
	display:none;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.todo-description {
	display: inline;
	font-size: 20px;
}

.item {
	padding: 10px
}

#todo-input-container {
	text-align: center;
}

#todo-input {
	width:350px;
	font-size: 20px;
	padding: 6px
}

.remove {
	background: url(destroy.png) no-repeat;
	float:right;
	width:20px;
	height: 20px;
}

#markAll {
	margin-left: 12px;
}