<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>dweather-1</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="weatherObservationModule"></div>

    <div>
        <span>Choose your city:</span>
        <select id="city-chosen">
            <option value="90210">90210</option>
            <option value="22015">22015</option>
            <option value="22042">22042</option>
            <option value="21078">21078</option>
        </select>
    </div>

    <script type="text/template" id="weatherObservationModuleTemplate">
        <h2>Weather for <%= presName %></h2>
        <div>
            <img src="http://s.imwx.com/img/wxicon/100/<%= Observation.wxIcon %>.png" alt="<%= Observation.text %>" width="100" height="100" id="myIcon">
        </div>
        <p><%= Observation.temp %>&deg;F and <%= Observation.text %></p>
    </script>

    <script src="http://www.weather.com/blog/samples/jquery-1.7.1.min.js"></script>
    <script src="http://www.weather.com/blog/samples/underscore-min.js"></script>
    <script src="http://www.weather.com/blog/samples/backbone-min.js"></script>
    <script src="js/models/weather.js"></script>
    <script src="js/views/weatherview.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
