<div ng-controller="View2Ctrl" ng-init="init()" class="loan-container">

	<h3>View 2</h3>

	<div id="loan-list">
	    <ul class="unstyled">
	      <li ng-repeat="loan in loans">
	        <span> === {{loan.name}} === {{loan.loanAmount | currency}} ===</span>
	      </li>
	    </ul>
	</div>

	<h4>quantity : {{loansSize()}}</h4>

	<div id="loan-control">
		<br/>
		<button ng-click="debug()">debug</button>
  	</div>

</div>

<p>....</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
