
.done-true {
  text-decoration: line-through;
  color: grey;
}

.done-false {
  color: blue;
}

.control-input {
	width: 200px;
}

.todo-container {
	background-color: #FFFAFA;
	padding: 10px;
	box-shadow: 10px 10px 5px #888888;
}