<!DOCTYPE html>
<html ng-app>
	
<head>
<meta charset="UTF-8">
<title>angforms-2</title>
<link rel="stylesheet" href="main.css">
</head>

<body>
	
<h4>angforms-2</h4>

	<div ng-controller="Controller">
      <form novalidate class="simple-form">
        Name: <input type="text" ng-model="user.name" /><br />
        E-mail: <input type="email" ng-model="user.email" /><br />
        Gender: <input type="radio" ng-model="user.gender" value="male" />male
        <input type="radio" ng-model="user.gender" value="female" />female<br />
        <button ng-click="reset()">RESET</button>
        <button ng-click="update(user)">SAVE</button>
      </form>
      <pre>form = {{user | json}}</pre>
      <pre>master = {{master | json}}</pre>
    </div>

<script src="../../bower_components/jquery/jquery.js"></script>
<script src="../../bower_components/angular/angular.js"></script>
<script src="main.js"></script>
</body>

</html>
