input               {border-radius: 3px;}
.x-form-item-label  {text-transform: uppercase;}

.imagenes-grid span.tipo        {width: 50px; border: 1px solid #000; padding: 1px 3px; background: #ddd;border-radius: 3px;text-transform: uppercase;font-weight: bold;}
.imagenes-grid span.tipo.jpg    {background: darkred;color: #fff;}
.imagenes-grid span.tipo.png    {background: #000;color: #fff;}
.imagenes-grid span.tipo.gif    {background: #000088;color: #fff;}

.imagenes-data-view .imagenes-wrapper                           {}
.imagenes-data-view .imagenes-wrapper .imagen                   {vertical-align: middle;box-shadow: 3px 3px 2px #777;border: 1px solid transparent; display: inline-block; width: 23%;cursor: pointer; margin: 5px 5px;transition: all .3s linear;}
.imagenes-data-view .imagenes-wrapper .imagen.x-item-selected   {border: 1px solid #000;width: 25%;box-shadow: 8px 8px 5px #777;}
.imagenes-data-view .imagenes-wrapper .imagen img               {width: 100%;}
.imagenes-data-view .imagenes-wrapper .imagen .tbar             {transition: all .3s linear;opacity:0; position: relative;}
.imagenes-data-view .imagenes-wrapper .imagen.item-over .tbar   {opacity:1;}
.imagenes-data-view .imagenes-wrapper .imagen .tbar .delete     {border-radius: 2px;opacity: .85; border: 1px solid #000;background: red;right: 2px;display: inline-block;width: 20px;top: 2px; height: 20px;position: absolute;text-align: center;color: #fff;font-weight: bold;font-family: verdana;}